<div *ngIf="loading" class="content d-flex justify-content-center align-items-center">

    <div class="spinner-border text-warning" style="width: 8rem; height: 8rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

</div>

<div *ngIf="!loading">

    <div class="content-medium bg">

        <app-navbar></app-navbar>

        <div class="container p-5">
            <div class="alert alert- pt-5 pb-5 text-center shadow" style="background:rgba(255, 193, 23, 0.3);" role="alert">
                <h2 class="">BIENVENIDOS A NUESTRO PORTAL DE SERVICIOS EN LINEA</h2>
            </div>
        </div>

    </div>

    <div class="shadow pb-5 bg-white" style="border-top: 4px solid #edb10d">

        <div class="container col-8 mt-5 text-center">

            <div class="row justify-content-center">
                <div class="col-9">
                    <h5 class="text-center text-secondary">En nuestro portal de servicios integrados del COMANDO NAVAL DE CAPITANIAS DE PUERTOS Y AUTORIDAD MARITIMA, encontrarás todos los servicios que tenemos a disposición de los contribuyentes.</h5>
                </div>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light bg-secondary ">
                <div class="container-fluid ">
                    <a class="navbar-brand " href="# ">
                        <img src="assets/img/globe.png " alt=" ">
                    </a>
                    <button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarNavAltMarkup " aria-controls="navbarNavAltMarkup " aria-expanded="false " aria-label="Toggle navigation ">
            <span class="navbar-toggler-icon "></span>
          </button>
                    <div class="collapse navbar-collapse " id="navbarNavAltMarkup ">
                        <div class="navbar-nav ">
                            <a class="nav-link active text-white " aria-current="page " href="# ">Matriculacion</a>
                            <a class="nav-link text-white " href="# ">| Permiso Provicional</a>
                            <a class="nav-link text-white " href="# ">| Renovacion, duplicado y cambios en la matricula</a>
                            <a class="nav-link text-white " href="# ">| Carta de no Objecion</a>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- <input type="text " class="form-control p-3 " placeholder="Buscar servicio "> -->

        </div>

    </div>

    <div class="content shadow" style="background-color: #edb10d">

        <div class="row justify-content-center pt-5">
            <div class="col-8">
                <h5 class="text-center text-dark">SERVICIOS PRINCIPALES</h5>
                <hr>

                <div class="row justify-content-center">

                    <div class="col-lg-4 col-md-4 col-sm-6 mt-4" routerLink="/services">
                        <div class="shadow rounded bg-white">
                            <div class="bg- shadow text-center text-secondary" style="width: 100%;">
                                <!-- <img width="100%" src="https://lh6.googleusercontent.com/GHAvDtGRkwLxmvANz8rVRDb4_qjdXfmKRdkzcQ_mYSYUc4dAPAUl8KSl0jGw4wEx6v3ndStwQ7dl10KVDXOYLFL0If1mhgPFzx389dJrD-JNLjowdbCx3V6gREOwUDNAsD09im7NaXIGvcBn57t3gIL0d4nyUoUxmqxVPV3dZJSWZY6yyqFBjjbXUDIy-o8o=w1280"
                                    alt=""> -->
                            </div>
                            <div class="p-2 text-center">
                                <h5>Matriculación</h5>
                            </div>
                            <div class="pb text-center">
                                <button class="col-12 btn btn-secondary">VER INFORMACION</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 mt-4" routerLink="/services">
                        <div class="shadow rounded bg-white">
                            <div class="bg- shadow text-center text-secondary" style="width: 100%;">
                                <!-- <img width="100%" src="https://lh6.googleusercontent.com/HHOs3zBbQrkC1Kp2r7D8tzMRLCDePXOa7vOiinOwcLxqH2CvY1NXxKSaiBLrSna9OwLF26NK4OuHwTe4-t8u8bXmZm5tDJ2pXLnsIddmM8p2kkRmRp1r9a4EOwYPc9ScacolrPs8MCt_0Cod3tpliKYJo1Y6LiFMk25bE6mJMmFMOYCt4hY253X2GfZCT7CG=w1280"
                                    alt=""> -->
                            </div>
                            <div class="p-2 text-center">
                                <h5>CARTA DE NO OBJECION</h5>
                            </div>
                            <div class="pb text-center">
                                <button class="col-12 btn btn-secondary">VER INFORMACION</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 mt-4" routerLink="/services">
                        <div class="shadow rounded bg-white">
                            <div class="bg- shadow text-center text-secondary" style="width: 100%;">
                                <!-- <img width="100%" src="https://lh5.googleusercontent.com/sQlWpVR2uDVXahRxocjJGFWg6whf7OxSPkCwXo15QdulpgKmp9yAF4XLQMDrrozORo5ViseQ8ZXR_VVWzOHnHCF0HUc6y0xP-bIuekGsknGjuugyWjqAFLLe6SywG1zeUWG1CJteY51OHxiPp8QdvGZ6QJIrOS3pvqmYaHWzM2vQXuWG4kSyWkv4IBz0L2b4=w1280"
                                    alt=""> -->
                            </div>
                            <div class="p-2 text-center">
                                <h5>Inspecciones</h5>
                            </div>
                            <div class="pb text-center">
                                <button class="col-12 btn btn-secondary">VER INFORMACION</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 mt-4" routerLink="/services">
                        <div class="shadow rounded bg-white">
                            <div class="bg- shadow text-center text-secondary" style="width: 100%;">
                                <!-- <img width="100%" src="https://lh3.googleusercontent.com/s1Z6_cbhmJ7KYKuTaq2_lQ7vyGEwzVBgMhZTLAKHvtrDxBNRCLjkP1S-4lBYMbP8_ej5pDOwi7erfEenSVxQ_WZ3jG7q3N48VaENDdMJy3jsvtr1qgtqOe7J4G7DjWVan5xbl4FTOXrIjCtNYT84FAhD03m8PLin_towjuLFouK8GxvEi5YvElpWkqLg2ZTV=w1280"
                                    alt=""> -->
                            </div>
                            <div class="p-2 text-center">
                                <h5>DOCUMENTOS DE LA SEGURIDAD MARITIMA</h5>
                            </div>
                            <div class="pb text-center">
                                <button class="col-12 btn btn-secondary">VER INFORMACION</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>